body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  text-decoration: none;
  color: white;

}

.hideForm {
  display: none;
}

.fa-thumbs-up, .fa-thumbs-down {
  color: hsl(200, 100%, 40%);
}




