body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(221, 12%, 40%);
  background-color: hsl(43, 41%, 90%)
}

h1 {
  font-weight: 700;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.logo-main-menu {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.5em;
}

.white-outline-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brand {
  background-color: hsl(221, 12%, 40%);
}

.ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: white;

}

.hideForm, .hideLogin {
  display: none;
}

.border-btn {
  background-color: transparent;
  border: 2px solid  hsl(221, 12%, 40%);
  color:  hsl(221, 12%, 40%);
}

.white-icon {
  color: white;
}

.brand-icon {
  color: hsl(221, 12%, 40%);
}

.alert-icon {
  color: hsl(356, 84%, 69%);
}

.menu-item {
  width: 100%;
  background-color: hsl(200, 100%, 40%);
}

.page-container {
  max-width: 400px;
  margin: 0 auto 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.sticky-footer-clear {
  flex-grow: 1;
}

.nav-bg {
  background-color: hsl(356, 84%, 69%);
}


.list-container {
  width: 90%;
  margin: 0 auto 0 auto;
}

.list-item-container {
  width: 100%;
}

.ingredient-select {
  width: 100%;
}

.ingredient-amount {
  flex-basis: 35%;
}

.sticky-button {
  flex-basis: 100%;
}

.list-bg {
  background-color: #BBDEFB;
}

.no-bullets {
  list-style: none;
}

.break-word {
word-wrap: break-word;
}

.title-divider {
  width: 50px;
  border-bottom: 5px solid hsl(200, 100%, 40%);
  margin-top: 10px;
}

.main-menu-item {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.main-menu-container {
  align-self: center;
}

a:hover {
text-decoration: none;
}

.main-menu-item:hover, button:hover {
  background-color: hsl(196, 100%, 41%);
  color: white;
}

.logout-button-nav:hover {
  background-color:  hsl(356, 84%, 75%);
  color: white;
  border: white;
}

.logout-button-main:hover {
  background-color: hsl(221, 12%, 46%);
  color: white;
  border: white;
}

.toolbar-button:hover {
  color: white;
  background-color: transparent;
}
